@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.App {
  text-align: center;
  font-family: 'Merriweather','Open Sans';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.mainDiv{
  /* margin-top: 40px; */
}

.introbox{
 display:flex;
 flex-direction: row;
 flex-wrap: wrap;
}
.profilepic{
  flex: 1;
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 50%;

}
.intro-text{
  position: relative;
  flex:2;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 20px;
  animation: moveabit 1s ease-in;
  animation-fill-mode: forwards;
  padding: 10px;
  padding-right: 50px;
}
.inputSides{
  flex:1;
}
.displayTriangle{
  display: flex;
  flex:1;
  padding:0;
  background-color: rgb(225, 232, 215);
  border-width: 1px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  margin: 20px;
  
}
.output-text{
  animation: moveabit .6s ease-in;
  animation-fill-mode: forwards;
  padding: 3px;
}
.dataform{
  width:350px;
  margin: 50px;
  padding:50px;
}
.erroroutput{
  margin: 0;
}

.triangle-pic{
  width: 50%
}

.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}
.output{
  border:solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:30px;
}

.typing-word{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes moveabit{
  from{transform: translate(-20px);opacity: 0;}
  to{transform: translateX(0px);opacity: 1;}
}