.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.mainDiv{
  margin-top: 40px;
}

.introbox{
  margin-top: 30px;
  height: 450px;
  font-size: 20px;
}
.profilepic{
  float: right;
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 50%;
  
}
.inputSides{
  flex:1;
}
.displayTriangle{
  display: flex;
  flex:1;
  padding:0;
  border:dotted;
  border-width: 1px;
  border-radius: 25px;
  justify-content: center;
  align-items: center
}
.output-text{
  transition: font-size 30ms ease-in 1s;
}
.dataform{
  width:350px;
  margin: 50px;
  padding:50px;
}
.erroroutput{
  margin: 0;
}

.triangle-pic{
  width: 50%
}

.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}
.output{
  border:solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
