.container{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    z-index: 10;
}

.navbar-section{
    display: flex;
    background-color: transparent;
    height: 50px;
    width:100%;
    align-items: center;
}

.link{
    text-decoration: none;
    margin-left: 20px;
    color:#FFF;
}