.profile-card-wrapper{
    position: sticky;
    top: 12.5vh;
    height: 75vh;
    width: 400px;
    /* background-color: #252323; */
    /* background-color: rgba(255,255,255,0.2); */
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #24cbe6;
    font-family: 'Roboto';
    /* box-shadow: 5px 10px 3px #fff;*/
}

.profile-card-photo{
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card-photo-image{
    object-fit: cover;
    height: 180px;
    width: 180px;
    border-radius: 90px;
}

.profile-card-info{
    color:white;

}

.github{
    display: flex;
    justify-content: center;
    align-items: center;
}

.github h3{
    margin-left: 20px;
    cursor: pointer;
}


.github-logo{
    height: 30px;
    width: 30px;
    object-fit: contain;
    background: white;
    border-radius: 15px;
    cursor: pointer;
}

.resume h3{
    cursor: pointer;
}

.profile-card-experience{
    font-size: 15px;
    text-align: justify;
    margin: 10px;
}
