.profile-card-wrapper{
    position: sticky;
    top: 12.5vh;
    height: 75vh;
    width: 300px;
    background-color: #252323;
    flex-shrink: 0;
}

.profile-card-photo{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card-photo-image{
    object-fit: cover;
    height: 180px;
    width: 150px;
}