.skills-wrapper{
    height: 100vh;
    width: 100%;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-info{
    display: flex;
    flex-wrap: wrap;
}

/* this will keep the height of the div same as its width as width is changing(% value) */
.skills-indiv{
    width:25%;
    height: 200px;
    overflow: hidden;
}