.profilePhoto{
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.profilePhoto img {
    max-width: 100%;
    max-height: 100%;
    z-index: 45;
    position: absolute;
    left: 15px;
}

.intro{
    width:50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster';
}

.intro-webDev{
    position: absolute;
    color: #898990;
    transform: rotate(-90deg);
    width: 100vh;
    font-size: 13vh;
    bottom: -80px;
    transform-origin: top left;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Righteous', cursive;
}

.intro-webDev::after{
    content: '';
    width: 10vh;
    height: 2vh;
    background: #898990;
    transform: translateY(-10px);
    animation: CURSOR 1s infinite; 
}

.intro-wrapper{
    display: flex;
    height: 100vh;
}

.intro-info{
    height: 100px;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: 'Righteous', cursive;
    color: cyan;
}

.wishing{
    width: 100%
}

.hi{
    font-size: 100px;
}

.hi::after{
    content: "it's";
    position: relative;
    font-size: 63px;
    left: 24px;
}

.aphremName{
    font-family: 'Righteous', cursive;
    font-size: 135px;
}

.socialLinks{
    width: 45px;
    height: 45px;
    margin: 35px;
    border-radius: 22px;
}

@keyframes CURSOR {
    0%, 49% {
      background-color:transparent;
    }
    50%, 100% {
      background-color: #898990;
    }
  }